* {
    margin: 0;
    padding: 0;
}

.container {
    width: 200vh;
    height: 100vh;
    align-content: center;
    align-items: center;
}

.container::before {
    width: 200vh;
    content:"";
    background-image: url(buzz.webp);
    background-position: center;
    background-size: cover;
    opacity: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index:-1;

}

.container h1, h2 {
    
    font-size: 3rem;
    color: rgb(63, 133, 110);
    text-align: center;
    align-content: center;
    align-items: center;
    
}